<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AdminPass" value = "AMlgFJCa3h31j2ItOCG6a3b0BEEpomLsvW9L5nds4EUW+Coq1pAtMJlWGjzdd4Eq8g=="/>
	</appSettings>
</configuration>