<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AdminPass" value = "ABGJr/zKd0MByHRZcUUixpBgzIYPX8B7riwuVBhGSbTk3GaDJyz+cXEF8ebbEN8DaQ=="/>
	</appSettings>
</configuration>